html {
  background: url(../images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1000;
}

.logos {
  display: inline-flex;
  float: left;
  align-items: center
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  height: 55px;
}

.social {
  display: inline-flex;
  float: right;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  height: 55px;
}

#image1 {
  height: 45px;
  margin-right: 15px;
  margin-left: 20px;
}

#image2 {
  height: 25px;
}

#image3 {
  height: 30px;
  margin-right: 20px;
}

#image4 {
  height: 30px;
  margin-right: 20px;
}

.headers {
  top: 160px;
  position: absolute;
  width: 100%;
}

.header {
  text-align: center;
  font-weight: normal;
}

#header1 {
  font-size: 30px;
}

#header2 {
  font-size: 22px;
}

a {
  color: white
}


.footer {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6)
}

.footer:hover {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

#nav {
  width: 70%;
  text-align: center;
  float: right;
  color: white;
  height: 55px;
}


.selected {
  text-decoration: underline;
}

.nav-item:hover {
  cursor: pointer;
}

.left {
  position: absolute;
  left: 20px;
  margin-top: 5px;
}


#image-item img{
  height: 45px;
}

#checkbox-toggle, .toggle {
  display: none;
}

#menu li a {
  text-decoration: none;
}

#menu li {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 5px;
  margin-left: 5px;
  align-self: center;
}

#menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: 55px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#content {
  display: block;
  position: absolute;
  width: 90%;
  top: 100px;
  margin: auto;
  left: 0;
  right: 0;
}

.tac {
  text-align: center;
  color: #4A4A4A;
}

.tac h1 {
  font-size: 22px;
  font-weight: normal;
}

.tac h3 {
  font-weight: normal;
  padding-bottom: 30px;
}

#paragraphs {
  display: block;
  position: absolute;
  width: 85%;
  margin: auto;
  left: 0;
  right: 0;
}

#paragraphs p {
  color: #9B9B9B;
  font-size: 14px;
  padding-bottom: 10px;
}

#paragraphs ol {
  padding-bottom: 10px;
}

#paragraphs ol li {
  color: #9B9B9B;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 10px;
  list-style-position: inside;
}

#paragraphs ol li:before {
  content: ') ';
  margin-left: -5px;
}

#paragraphs ul li {
  color: #9B9B9B;
  font-size: 14px;
  margin: 0;
}

#paragraphs ul {
  padding: 0;
  list-style-type: none;
}


@media screen and (max-width: 400px) and (min-width: 300px) {
  #image1 {
    height: 40px;
  }
  #image2 {
    height: 20px;
  }
  #image3 {
    height: 25px;
  }
  #image4 {
    height: 25px;
  }
  #header1 {
    font-size: 25px;
  }
  #header2 {
    font-size: 17px;
  }
  #nav {
    flex-direction: column;
  }
  .nav-item {
    width: 100%;
    height: 25px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
    display: block;
  }
  .toggle {
    clear: both;
    display: block;
    width: 95%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: blue;
  }
  .toggle:hover {
    background: yellow;
  }
  #checkbox-toggle:checked + label #menu li {
    opacity: 1;
    visibility: visible;
    transition: all .7s linear;

  }
  #checkbox-toggle:checked + label #menu {
    height: 150px;
    background-color: purple;
  }
  #menu {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0px;
  }
  #menu li {
    width: 95%;
    display: flex;
    align-self: center;
    opacity: 0;
    visibility: hidden;
  }

  #menu li a {
    width: 100%;
    text-align: center;
    align-self: center;
    align-content: center;
  }




}
