html {
  background: url(../images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: block;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logos {
  display: inline-flex;
  float: left;
  align-items: center
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  height: 55px;
}

.social {
  display: inline-flex;
  float: right;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  height: 55px;
}

#image1 {
  height: 45px;
  margin-right: 15px;
  margin-left: 20px;
}

#image2 {
  height: 25px;
}

#image3 {
  height: 30px;
  margin-right: 20px;
}

#image4 {
  height: 30px;
  margin-right: 20px;
}

.headers {
  top: 160px;
  position: absolute;
  width: 100%;
}

.header {
  text-align: center;
  font-weight: normal;
}

#header1 {
  font-size: 30px;
}

#header2 {
  font-size: 22px;
}

a {
  color: white
}


.footer {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6)
}

.footer:hover {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
  text-align: center;
  float: right;
  color: white;
  height: 55px;
}

.nav-item {
  align-self: center;
  margin-right: 5px;
  margin-left: 5px;
  flex-shrink: 1;
  flex-grow: 1;
}

.left {
  position: absolute;
  left: 15px;
}


#image-item img {
  height: 45px;
  float: left;
}

@media screen and (max-width: 400px) and (min-width: 300px) {
  #image1 {
    height: 40px;
  }
  #image2 {
    height: 20px;
  }
  #image3 {
    height: 25px;
  }
  #image4 {
    height: 25px;
  }
  #header1 {
    font-size: 25px;
  }
  #header2 {
    font-size: 17px;
  }
  #nav {
    flex-direction: column;
  }
  .nav-item {
    width: 100%;
    height: 25px;
  }


}
